body{
    background-color: #F5F0DC;
    font-family: Helvetica, Arial, sans-serif;
    width: 940px;
    margin: auto;
}

#titulo{
    text-align: center;
}

h2{
    background-color: #B3A742;
    padding: 5px;
    color: #FFFFFF;
}